* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: inherit;
}
body {
	width: 100%;
	height: 500vh;
	background:linear-gradient(45deg, lightblue, #ffffff, lightblue);/*グラデーションを定義*/
	background-size: 50% 50%;
	animation: bggradient 20s ease infinite;
    position: relative;
}
@keyframes bggradient{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#home {
    text-align: center;
    position: relative;
    background-image: url('mac.jpeg');
    background-position: center center;
    background-size: cover;
    width: 80%;
    height: 600px;
    top: 100px;
    left: 10%;
    position: absolute;
}
.header p {
    font-size: 30px;
    font-family: cursive;    
    top: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.header h1 {
    font-size: 100px;
    transform: rotate(-30deg);
    top: 90px;
    left: 10px;
    position: absolute;
}
.header h2 {
    font-size: 25px;
    transform: rotate(-30deg);
    top: 220px;
    left: 10px;
    position: absolute;
}
.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: deepskyblue;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span {
    top: 25px;
}
.menu-btn span:after {
    top: 8px;
}
.menu-btn p {
    font-size: 13px;
    top: 38px;
    color:#ffffff;
    position: absolute;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check:checked ~ .menu-btn p {
    font-size: 0px;
}
#menu-btn-check:checked ~ .menu-btn p::before {
    font-size: 13px;
    content: "CLOSE";
}
#menu-btn-check {
    display: none;
}
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: deepskyblue;
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 40px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 10px 15px 10px 0;
    position: relative;
    transition:0.5s all;
}
.menu-content ul li a:hover {
    transform:scale(1.2,1.2);
    transition:0.5s all;
}
.menu-content ul li a p {
    color:#ffffff;
    font-size: 20px;
}
.menu-content ul li a::before {
    content: "";
    width: 30px;
    height: 30px;
    border-top: solid 5px #ffffff;
    border-right: solid 5px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 120px;
    top: 40px;
}
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: deepskyblue;
    transition: all 0.5s;/*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}

.title {
    text-align: center;
}
.title h1 {
    font-size: 60px;
}
.title p {
    font-size: 30px;
}

#about {
    padding-top: 800px;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
}
#about .content {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#about .content  h2 {
    font-size: 50px;
}
#about .content  p {
    font-size: 25px;
    display: flex;
}
#about .content img {
    width: 40%;
    right: 10%;
    position: absolute;
}

#skills {
    padding-top: 230px;
    padding-left: 10%;
    padding-right: 10%;
}
#skills h2 {
    font-size: 50px;
}
#skills p {
    padding-top: 10px;
    font-size: 25px;
}
#skills .skill, 
#skills .skill2,
#skills .skill3  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#skills .skill {
    padding-top: 50px;
}
#skills .skill p {
    display: flex;
}
#skills .skill img {
    max-height: 300px;
    width: 38%;
    right: 10%;
    position: absolute;
}
#skills .skill2 {
    padding-top: 280px;
}
#skills .skill2 img {
    max-height: 300px;
    display: flex;
    width: 38%;
    left: 10%;
    position: absolute;
}
#skills .skill2 .content {
    left: 52%;
    position: absolute;
}
#skills .skill3 {
    padding-top: 440px;
}
#skills .skill3 p {
    display: flex;
}
#skills .skill3 img {
    max-height: 300px;
    width: 38%;
    right: 10%;
    position: absolute;
}
#skills .skill4 {
    padding-top: 220px;
}
#skills .skill4 img {
    display: flex;
    max-height: 300px;
    width: 38%;
    left: 10%;
    position: absolute;
}
#skills .skill4 .content {
    left: 52%;
    position: absolute;
}

#works {
    padding-top: 400px;
    text-align: center;
}
#works h2 {
    font-size: 50px;
    position: relative;
}
#works .title p {
    margin-bottom: 50px;
}
#works .photo h2 {
    margin-bottom: 25px;
}
#works .photo img {
    width: 27%;
    transition:0.4s all;
}
#works .photo img:hover{
    transform:scale(1.05,1.05);
    transition:0.4s all;
}
#works .sketch {
    overflow: hidden;
}
#works .sketch h2 {
    margin-top: 100px;
}
#works .sketch img {
    padding-top: 25px;
    height: 500px;
    width: 20%;
}
#works .imageProcessing {
    overflow: hidden;
}
#works .imageProcessing h2 {
    margin-top: 100px;
}
#works .imageProcessing img {
    padding-top: 25px;
    width: 40%;
}
#works .imageProcessing p {
    padding-top: 25px;
    font-size: 30px;
}
#works .webDesign {
    overflow: hidden;
}
#works .webDesign h2 {
    margin-top: 100px;
}
#works .webDesign img{
    padding: 25px 2.5% 0;
    width: 42.5%;
    transition:1s all;
}
#works .webDesign img:hover{
    transform:scale(1.2,1.2);
    transition:1s all;
}

#contact {
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    padding-bottom: 80px;
}
#contact h2 {
    padding-top: 50px;
    font-size: 50px;
}
#contact ul {
    list-style: none;
    display: flex;
    gap: 50px;
    justify-content: center;
}
#contact ul li a {
    padding-top: 30px;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    transition:0.5s all;
}
#contact ul li a:hover {
    transform:scale(1.2,1.2);
    transition:0.5s all;
}

#page_top{
    width: 60px;
    height: 60px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #e25407;
    opacity: 0.6;
    }
#page_top::before {
    content: "";
    display: inline-block;
    left: 22px;
    bottom: 9px;
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transform: rotate(45deg);
}
  
#page_top::after{
    content: 'TOP';
    font-size: 13px;
    color: #fff;
    position: absolute;
    top: 9px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

@keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
}
.fadeUpTrigger{
    opacity: 0;
}
.fadeUp{
    animation-name:fadeUpAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
}
